{% extends "layouts/base.html" %}

{% set postListItems = pagination.profiles %}
{% if tag %}
  {% set postListItems = collections[tag] | reverse %}
  {% set pageHeaderTitle = 'Profiles filed under "'+ tag + '"' %}
{% endif %}
{% set css %}
  {% include "css/global.css" %}
  {% include "css/home.css" %}
{% endset %}

{% block content %}
  <article class="wrapper">
    <h1>{{ pageHeaderTitle | safe }}</h1>
    {% for item in collections[ tag ] | sortByTitle %}
    {% include 'partials/profile-listing.html' %}
    {% endfor %}
  </article>
{% endblock %}
