    <article class="content">
      <div class="flow">
        <div class="heading-wrapper">
          <h2 id="winners-prior-career-starts-1991-{{ lastYear }}">
            {{ title }} Winners Prior Career Starts 1991-{{ lastYear }}
          </h2>
          <a class="anchor-link" href="#winners-prior-career-starts-1991-{{ lastYear }}">
            <span class="anchor-icon">
              {% include 'partials/anchor-icon.html' %}
            </span>
            <span class="visually-hidden">(permalink)</span>
          </a>
        </div>
        <p>{{ careerStarts }}</p>
      </div>
      <div class="full-bleed">
        <div id="career-starts" class="chart-500"></div>
      </div>
    </article>
