<footer>
  <div class="wrapper-content">
    <nav class="footer-nav" aria-label="Secondary">
      <ul class="footer-nav-items" role="list">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/accessibility-statement/">Accessibility Statement</a></li>
        <li><a href="#top">Back to Top</a></li>
      </ul>
    </nav>
    <div class="flow">
      <p>
        &copy; <a href="http://danabyerly.com">Dana Byerly</a>, all rights reserved. All data via <a href="http://equibase.com">Equibase</a>.
      </p>
      <p>
        Created with <a href="https://11ty.dev">Eleventy</a> and hosted at <a href="https://netlify.com">Netlify</a>.
      </p>
    </div>
  </div>
</footer>
