    <article class="content">
      <div class="flow">
        <div class="heading-wrapper">
          <h2 id="winners-placing-in-prior-race-1991-{{ lastYear }}">
            {{ title }} Winners Placing in Prior Race 1991-{{ lastYear }}
          </h2>
          <a class="anchor-link" href="#winners-placing-in-prior-race-1991-{{ lastYear }}">
            <span class="anchor-icon">
              {% include 'partials/anchor-icon.html' %}
            </span>
            <span class="visually-hidden">(permalink)</span>
          </a>
        </div>
        <p>{{ lastOut }}</p>
      </div>
      <div id="last-out-stack" class="chart-300"></div>
    </article>
